/* action-item.css */

.action-item-post-edit-crud {
  display: flex;
}

.action-item-post-edit-crud__btn-close {
  position: relative;
  margin-left: 10px;
  flex: 0 0 10px;
  height: 10px;
}

.action-item-post-edit-crud__btn-close::before,
.action-item-post-edit-crud__btn-close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 2px;

  background-color: #bdc1c8;
  transform: translate(-50%, -50%) rotate(45deg);
}

.action-item-post-edit-crud__btn-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Если компонент не выбран, значит он не отображается, значит кнопка будет первым элементом и её не нужно отображать. */
.action-item-post-edit-crud__btn-close:first-child {
  display: none;
}
