/* post-new-header.css */

.post-new-crud__header {
  display: flex;
  border-bottom: 1px solid #d9dce0;
}

.menu-post-new-crud {
  flex: 1 1 auto;
}

.menu-post-new-crud__list {
  display: flex;
}

.menu-post-new-crud__list li {
  position: relative;
  padding-bottom: 9px;
}

.menu-post-new-crud__list li .menu-post-new-crud__link-wrapp {
  padding-right: 10px;
}

.menu-post-new-crud__list li:not(:last-child) .menu-post-new-crud__link-wrapp {
  padding-bottom: 4px;
  margin-right: 10px;
  border-right: 1px solid #d9dce0;
}

.menu-post-new-crud__link {
  font-size: 13px;
  font-weight: 700;
  color: #3b5a94;
}

.menu-post-new-crud__link_active {
  color: #60676f;
}

.menu-post-new-crud__link_active::before,
.menu-post-new-crud__link_active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: calc(50% - 5px);
  width: 0;
  height: 0;

  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #d9dce0;

  transform: translateX(-50%);
}

.menu-post-new-crud__link_active::after {
  bottom: -2px;
  border-bottom: 9px solid #ffffff;
}

.post-new-crud__btn-close {
  position: relative;
  flex: 0 0 12px;
  height: 12px;
}

.post-new-crud__btn-close::before,
.post-new-crud__btn-close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 2px;

  background-color: #bcc1c7;
}

.post-new-crud__btn-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.post-new-crud__btn-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}