/* common.css */

/* Обнуляющие стили -------------------------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
}

ul, ol {
	list-style-type: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

button {
	font-size: inherit;

	border: none;
	background-color: transparent;
	cursor: pointer;
}

img {
	vertical-align: top;
}
/* ------------------------------------------------------------------------------------- */

/* Технические классы ------------------------------------------------------------------ */

._container {
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

/* Для адаптивного вывода изображений через тег <img> */
._ibg {
	position: relative;
	/* padding-bottom: n%; */ /* Регулирует высоту изображения. */
}

._ibg img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

._hidden {
	display: none;
}

/* Как правило, текст для скринридеров, который не нужно выводить. */
._visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
}
/* ------------------------------------------------------------------------------------- */