/* toolbar.css */

.portfolio__toolbar{
	margin-bottom: 20px;
}

.toolbar-portfolio__list {
	display: flex;
	flex-wrap: wrap;
	margin: -3px;
}

.toolbar-portfolio__list li {
	padding: 3px;
}

.toolbar-portfolio__btn {
	padding: 8px 20px;

	border: 1px solid #555555;

	color: #555555;

	transition: border-color 0.3s, color 0.3s, background-color 0.8s;
}

.toolbar-portfolio__btn:hover {
	border-color: #b3b3b3;
	color: #b3b3b3;
}

.toolbar-portfolio__btn_selected,
.toolbar-portfolio__btn_selected:hover {
	color: white;
	border-color: #555555;
	background-color: #555555;
}